<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Ik ben Alex Bankras en dit is mijn portfolio website. Neem eens een kijkje :)")
        title Alex Bankras
        include styles
        link(rel="stylesheet" href="/resources/css/index.css")
    body
        #header
            .content
                h1 Ik ben
                    span#name  Alex Bankras
                h2 Ik hou van
                    span#hobby  programmeren
                    span#cursor
                    | .
        .ui.grid.container
            .sixteen.wide.column
                #abilities
                    h2 Mijn programmeer kennis
                    .ability
                        .text
                            h3 Java
                        .ability-box(percentage="90")
                            .inner-box
                    .ability
                        .text
                            h3 Javascript
                        .ability-box(percentage="90")
                            .inner-box
                    .ability
                        .text
                            h3 SQL
                        .ability-box(percentage="75")
                            .inner-box
                    .ability
                        .text
                            h3 HTML/CSS
                        .ability-box(percentage="95")
                            .inner-box
                    .ability
                        .text
                            h3 PHP
                        .ability-box(percentage="25")
                            .inner-box
                    .ability
                        .text
                            h3 Python
                        .ability-box(percentage="10")
                            .inner-box
        .ui.grid#studies-wrapper
            .ui.grid.container
                .sixteen.wide.column
                    #studies
                        h2 Mijn studies
                        .container
                            each study in studies
                                .study
                                    .type= study.type
                                    if study.study
                                        .name= study.study
                                    .instance= study.instanceName
                                    if study.extra
                                        .description= study.extra
                                    if study.certificates
                                        h3#certs-header Diploma's/Certificaten:
                                        each certificate in study.certificates
                                            .certificate
                                                .name= certificate.name
                                                .meta= certificate.date
                                                if certificate.extra
                                                    .meta #{certificate.extra}
                                    .extra.content
                                        span= "van " + moment(study.from, "DD-MM-YYYY").format("MMMM YYYY") + " tot " +  moment(study.to, "DD-MM-YYYY").format("MMMM YYYY")
                                            if moment(study.to, "DD-MM-YYYY").toDate().getTime() - Date.now() > 0
                                                br
                                                | Huidige studie


    include scripts
    script(src="/resources/js/index.js")