<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Ik ben Alex Bankras en dit is mijn portfolio website. Neem eens een kijkje :)")
        title Alex Bankras
        include styles
        link(rel="stylesheet", href="/resources/css/index.css")
    body
        #header
            .content
                h1 Ik ben
                    span#name  Alex Bankras
                h2 Ik hou van
                    span#hobby  programmeren
                    span#cursor
        .ui.grid.container
            .sixteen.wide.column
                #abilities
                    h2 Mijn programmeer kennis
                    each skill in programmingSkills
                        .ability
                            .text
                                h3= skill.language
                            .ability-box(percentage=skill.acquaintance)
                                .inner-box
        .ui.grid#studies-wrapper
            .ui.grid.container
                .sixteen.wide.column
                    #studies
                        h2 Mijn studies
                        .container
                            each study in studies
                                .study
                                    .type= study.type
                                    if study.study
                                        .name= study.study
                                    .instance= study.instanceName
                                    if study.extra
                                        .description= study.extra
                                    if study.certificates
                                        h3#certs-header Diploma's/Certificaten:
                                        each certificate in study.certificates
                                            .certificate
                                                .name= certificate.name
                                                .meta= certificate.date
                                                if certificate.extra
                                                    .meta #{certificate.extra}
                                    .extra.content
                                        span= "van " + moment(study.from, "DD-MM-YYYY").format("MMMM YYYY") + " tot " +  moment(study.to, "DD-MM-YYYY").format("MMMM YYYY")
                                            if moment(study.to, "DD-MM-YYYY").toDate().getTime() - Date.now() > 0
                                                br
                                                | Huidige studie
        .ui.grid#showcase-wrapper
            #showcase
                i.arrow.right.large.icon
                i.arrow.left.large.icon
                .ui.grid.container
                    h2 Mijn projecten
                ul.slides
                    each showcaseItem in showcaseItems
                        li.showcase-item.slide-item
                            if showcaseItem.image
                                img(src=showcaseItem.image)
                            if showcaseItem.link
                                a(href=showcaseItem.link, target="_blank").name= showcaseItem.projectName
                            else
                                .name= showcaseItem.projectName
                            .description= showcaseItem.description
        .ui.grid#footer
            .sixteen.wide.column.center.aligned
                ul
                    li
                        a(href="https://github.com/StalexB/")
                            i.github.icon
                    li
                        a(href="https://twitter.com/Debugged_")
                            i.twitter.icon
                    li
                        a(href="https://www.facebook.com/profile.php?id=100009608581553&ref=bookmarks")
                            i.facebook.icon
                br
                | &copy Alex Bankras - 2018 - Alle rechten voorbehouden

        include scripts
        script(src="/resources/js/index.js")